/* FOTO CUSTOMIZAVEL FUNDO */
#custom-bg-template-13 {width:900px; margin: auto; padding-bottom:40px; padding-top: 114px; margin-top: -114px; background:url('/userfiles/#{$login1}/#{$login}/imagens/#{$fundo_secondary_image}') no-repeat #f4f3f2;}
#custom-bg-template-13 .gradient {background:url(/templates/images/template13-2/bg_cont_gradient.png) repeat-x top;}
div#menu ul li .menu-social{
	a.facebook, a.twitter, a.pinterest{background:$titulos_cor url(/assets/templates/svg/SocialIcons.svg) no-repeat!important;}
	a.facebook{background-position:1px -117px!important;}
	a.twitter {background-position:-37px -117px!important;}
	a.pinterest {background-position:-75px -117px!important; margin-right:0px!important;}
}
